.cards {
  cursor: pointer;
  width: 28rem;
  height: 39rem;
  text-align: center;
  justify-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 1rem;
}
.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.card {
  width: 100%;
  border-radius: 1rem;
}

.card-head img {
  height: 22rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card-body {
  padding: 1.5rem;
}
.profile p {
  margin-bottom: 2rem;
}
.btn {
  font-family: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 999rem;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  box-shadow: 0 0.5rem 0.5rem rgba(70, 69, 69, 0.644);
}

.btn:hover {
  opacity: 0.9;
}

.card-foot {
  text-align: center;
}
.shortlist {
  background-color: #26baa4;
  margin-right: 0.8rem;
}
.rejected {
  background-color: #6173ff;
  margin-left: 0.8rem;
}
